pkgbase = fathom-web
	pkgdesc = A supervised-learning system for recognizing parts of web pages—pop-ups, address forms, slideshows—or for classifying a page as a whole.
	pkgver = 3.7.3
	pkgrel = 1
	url = https://github.com/mozilla/fathom
	arch = any
	license = APACHE
	makedepends = jq
	makedepends = npm
	depends = nodejs
	source = https://registry.npmjs.org/fathom-web/-/fathom-web-3.7.3.tgz
	sha512sums = e244f96346d95c0bba991dc19c3760d8c8b1769d6e7a306c5c24a9940c39a0f1085c87f6e5c1d46c0987c02ee847cfef56ff98f8d9c07aaacb580e898e92995f

pkgname = nodejs-fathom-web
